.vscode/
.gitignore
__pycache__/
# */__pycache__/
ProGED.egg-info/
.idea/workspace.xml
*~
.*
/data/*
/proged_singularity.sif
/venv/*
/proged_container.sif
/proged_container_310.sif
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ignore vscode
.vscode/
.DS_Store

# ignore docs build
docs/build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/